<mat-card style="height:500px;margin-top: 75px;
width: 100%; background-image: url(../../../assets/img/wp.webp );" >
<div  style="display: flex; align-items: center; justify-content: center;" >
                        
                    
    <img src="../../../assets/img/use1.png" width="100%" class="gha" >
    
    

</div>
<mat-card class="shadow-lg" style="background-color: #f6f6f6; margin-top: 220px;
width: 80%; margin-right:auto;margin-left:auto;">
    <div class="row">
        
        <div class="col-lg-8">
 <h2 style="  color:black; opacity: 65%;" >          
    
    Tell us more about yourself, to benefit from personalized
 learning with lesson recommendations
 </h2> 
        </div>
        <div class="col-lg-4" style="display: flex;align-items: center;align-self: center;">
            <button mat-raised-button color="primary" style="width: 300px;
            line-height: 48px; padding-left: none; " routerLink="updateprofile"><mat-icon>create</mat-icon> Update profile </button>
        </div>

    </div>
</mat-card>

</mat-card>

<mat-card class="shadow-lg" style="background-color: #f6f6f6; margin-top: 220px;
width: 80%; margin-right:auto;margin-left:auto; display: flex; align-items: center; align-self: center;">
   <div class="row " style="display: flex;align-items: center;align-self: center;">
   
   <h2  style=" opacity: 65%; color: black; font-size:30px;">Invite your friends to find either a course or a job on<span style="color: #261d51; font-family: cursive; font-weight: bold;"> Welearn </span>for free </h2>

   <div class="col-lg-12 mt-3 mb-3 text-center" style="display: flex; align-items: center; align-self: center; ">
    <a href="#" target="_blank" style="margin: auto; color:#261d51;"><i class="bi bi-facebook fa-4x"></i></a>
    <a href="#" target="_blank" style="margin: auto; color:#261d51;"><i class="bi bi-whatsapp fa-4x"></i></a>
    <a href="#" target="_blank" style="margin: auto; color:#261d51;"><i class="bi bi-instagram fa-4x"></i></a>
    <a href="#" target="_blank" style="margin: auto; color:#261d51;"><i class="bi bi-youtube fa-4x"></i></a>
</div>
<div class="col-lg-12 text-center" style=" margin: auto;">
    
    <textarea id="clipboard-example-textarea" cols="30" rows="10" [(ngModel)]="value" style="
     height: 20px; margin-top: 40px; margin-left: auto;margin-right: auto;"></textarea>
     <span><br></span>
   
   <button mat-raised-button [cdkCopyToClipboard]="value" style="line-height: 20px; "><mat-icon>link</mat-icon></button>
   
</div>
</div>

</mat-card>



