<nav class="navbar navbar-expand-lg navbar-light  mb-3">
  <div class="container-fluid " style="padding: 15px;">
    <a class="navbar-brand" routerLink="home"><img src="../../../assets/img/welearn4.png" sizes="20px" alt="..." height="36"> <span style="color: #261d51; font-family: cursive; 
      font-weight: bold;">We Learn</span></a>

    <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      &#9776;
    </button>

    <!-- Step 2: Add the ngbCollapse directive to the element below. -->
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto" style="background-color: #f4f4f4; border-radius: 20px;">
        <!--<li class="nav-item active">
          <a class="nav-link" routerLink="home" style="
          background-color: #261d51;
        outline: none;
        border: none;
        color: #fff;
        padding: 8px 22px;
        border-radius: 20px;
        font-size: 20px;
        transition: all 0.3s ease;
        cursor: pointer;
        font-weight: bold;">Home <span class="sr-only">(current)</span></a>
        </li>-->
        <li class="nav-item active" >
          
  <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon" 
  *ngIf="! isLoggedIn()"
  class="nav-link" routerLink="home">
    <mat-icon style="color: #fff;">home</mat-icon>
  </button>

   <button mat-mini-fab  aria-label="Example icon button with a delete icon" 
  *ngIf="studentService.roleMatch(['Student'])&&isLoggedIn()"
  class="nav-link " routerLink="home-student" style="background-color: darkgray;" >
    <mat-icon style="color: #261d51;" matTooltip="Dashboard" >dashboard</mat-icon>
  </button>
  <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon" 
  *ngIf="formerService.roleMatchF(['Former'])&& isLoggedIn()"
  class="nav-link" routerLink="home-former">
    <mat-icon style="color: #fff;">dashboard</mat-icon>
  </button>

  <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon" 
  *ngIf="centerservice.roleMatchC(['Center'])&& isLoggedIn()"
  class="nav-link" routerLink="home-center">
    <mat-icon style="color: #fff;">dashboard</mat-icon>
  </button>

      </li>
  
        
        <!--<li class="nav-item">
          <a  *ngIf="userService.roleMatch(['Admin'])"class="nav-link" routerLink="courses">Admin</a>
        </li>
        <li class="nav-item">
          <a  *ngIf="userService.roleMatch(['Student'])"class="nav-link" routerLink="courses">Student</a>
        </li>-->
        <li class="nav-item">
          <a class="nav-link" *ngIf="! isLoggedIn()" routerLink="courses" style="font-weight: bold;font-size: 1.2em;">Courses</a>
        </li>
        
        <li class="nav-item " >
          
          <button mat-icon-button  *ngIf="studentService.roleMatch(['Student'])&&isLoggedIn()" 
          class="nav-link b   " routerLink="studentprofile" 
          aria-label="Example icon button with a heart icon" >
            <mat-icon style="color: #261d51;">account_circle</mat-icon>
          </button>
        </li>

        <li class="nav-item " >
          <a class="nav-link b   " *ngIf="formerService.roleMatchF(['Former'])&& isLoggedIn()" style="color: #261d51; font-weight: bold; font-size: 1.2em;  " routerLink="formerprofile">Profile</a>
        </li>
        <li class="nav-item " >
          <a class="nav-link b   " *ngIf="centerservice.roleMatchC(['Center'])&& isLoggedIn()" style="color: #261d51; font-weight: bold; font-size: 1.2em;  " routerLink="formerprofile">Profile</a>
        </li>
        <li class="nav-item ">
          
          <button mat-icon-button  *ngIf="studentService.roleMatch(['Student'])&&isLoggedIn()" class="nav-link b   " routerLink="studentprofile" aria-label="Example icon button with a heart icon">
            <mat-icon style="color: #261d51;">favorite</mat-icon>
          </button>
        </li>
        <li class="nav-item ">
          <a *ngIf="formerService.roleMatchF(['Former'])&& isLoggedIn()" class="nav-link b " style="color: #261d51;  font-weight: bold;font-size: 1.2em;" routerLink="former-chat"  >Bills</a>
        </li>
        
        <li class="nav-item  ">
          <a *ngIf="formerService.roleMatchF(['Former'])&& isLoggedIn()"  class="nav-link b " style="color: #261d51;  font-weight: bold;font-size: 1.2em;" routerLink="messages-former"   >Messages</a>
        </li>
       
       
        <!--<li class="nav-item">
          <a *ngIf="!service.isloggedIn" class="nav-link" routerLink="thirdof">Register</a>
        </li>
        <li class="nav-item">
          <a *ngIf="!service.isloggedIn" class="nav-link" routerLink="login">Login</a>
        </li>--->
        <li class="nav-item">
          <a *ngIf="! isLoggedIn()" class="nav-link" routerLink="thirdof" style="font-weight: bold;font-size: 1.2em; color: #261d51;">Register</a>
        </li>
        <li class="nav-item">
          <a *ngIf="!isLoggedIn()" class="nav-link" routerLink="login" style="font-weight: bold;font-size: 1.2em; color: #261d51;">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="! isLoggedIn()" routerLink="contact" style="font-weight: bold;font-size: 1.2em; color: #261d51;">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="! isLoggedIn()" routerLink="about" style="font-weight: bold; font-size: 1.2em; color: #261d51;" >About</a>
        </li>
        <li class="nav-item">
         
          <button mat-icon-button  class="nav-link" routerLink="courses"  *ngIf=" isLoggedIn()" aria-label="Example icon button with a plus one icon">
            <mat-icon matTooltip="Info about the action" style="color: #261d51;">book</mat-icon>
          </button>
        </li>
       
         

            
            <li class="nav-item dropdown" *ngIf="isLoggedIn()" >
              <!--<a class="nav-link dropdown-toggle href="#" id="navbardrop" data-toggle="dropdown">
                {{userService.userN}}</a>-->
                <a  *ngIf="studentService.roleMatch(['Student'])" class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="font-weight: bold;font-size: 1.2em; color: #261d51;">
                  {{studentAuthService.loggedStudent}}</a>
                  <a  *ngIf="formerService.roleMatchF(['Former'])" class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="font-weight: bold;font-size: 1.2em; color: #261d51; ">
                    {{formerAuthService.loggedFormer}}</a>
                    <a  *ngIf="centerservice.roleMatchC(['Center'])" class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="font-weight: bold;font-size: 1.2em; color: #261d51;">
                      {{centerAuthService.loggedCenter}}</a>
                
                
              <div class="dropdown-menu" style="border-radius: 20px; background-color: #261d51;">
                <a *ngIf="studentService.roleMatch(['Student'])" class="dropdown-item" routerLink="studentprofile" style="font-weight: bold; color: #fff; ">Profile</a>
                <a *ngIf="formerService.roleMatchF(['Former'])" class="dropdown-item" routerLink="formerprofile" style="font-weight: bold; color: #fff;">Profile</a>
  
                <a class="dropdown-item" href="#" routerLink="courses" style="font-weight: bold; color: #fff;">My courses</a>
                <a *ngIf="studentService.roleMatch(['Student'])" class="dropdown-item" (click) = "onLogout()" style="font-weight: bold; color: #fff;">Logout</a>
                <a *ngIf="formerService.roleMatchF(['Former'])" class="dropdown-item" (click) = "onLogoutF()" style="font-weight: bold;color: #fff;">Logout</a>
                <a *ngIf="formerService.roleMatchF(['Center'])" class="dropdown-item" (click) = "onLogoutC()" style="font-weight: bold;color: #fff;">Logout</a>
  
              </div>
            </li>
          
          
      </ul>
    </div>
  </div>
</nav>