
<mat-drawer-container class="example-container"  autosize >
    <mat-drawer #drawer class="example-sidenav" mode="side" [opened]="true"style="padding-top: 70px;">
      
      
      
        <div style="align-items: center; align-self: center; display: flex; padding: 15px; "  >
          
          <img class="globalRoundProfile "  id="graft2" src="../../../assets/img/img3.jpg" >
          <label for="graft2" style="padding-left: 10px; color: #261d51; font-size: medium; font-weight: bold;">{{formerAuthService.loggedFormer}}</label>
          
      
      </div>
      
        <mat-list >
          <mat-list-item style="background-color: lightgray;">
          <mat-icon style="color:#261d51 ;margin-right: 20px;">home</mat-icon> Home
    
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><mat-icon style="color:#261d51 ;margin-right: 20px;" matBadge="99" matBadgeColor="warn">messages</mat-icon> Messages</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><mat-icon style="color:#261d51 ;margin-right: 20px;" >event</mat-icon> Events</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item (click)="showFiller = !showFiller"><mat-icon style="color:#261d51 ;margin-right: 20px;">explore</mat-icon> Suggestions
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item (click)="showFiller = !showFiller"><mat-icon style="color:#261d51 ;margin-right: 20px;">add</mat-icon> Pst add
          </mat-list-item>
          
      </mat-list>
      
      
      </mat-drawer>
  
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
      <div class="row ml-4 mr-4" style="padding-top: 60px;">
    
    

        <!--add-->
        <div class="col-lg-12 mt-5 ">
        <div class=" sectionCenter">
        
            <div class="story">
                <div class="cover">
                    <div class="create">
                        <div class="svg">
                            <img src="../../../assets/img/svg/plusWhite.svg" alt="Create Story">
                        </div>
                        <h3>Post an Add</h3>
                    </div>
                    <div class="bg" style="background-color: lightblue;">
                        <span></span>
                    </div>
                </div>
        
                <div class="cover">
                    <div class="pro">
                        <div class="globalRoundProfile" style="background-image: url(../../../assets/img/img/img1.jpg);"></div>
                    </div>
                    <h3>FilipCodes YT</h3>
                    <div class="bg" style="background-image: url(../../../assets/img/angular.jpg);">
                        <span></span>
                    </div>
                </div>
        
                <div class="cover">
                    <div class="pro">
                        <div class="globalRoundProfile" style="background-image: url(../../../assets/img/img2.jpg);"></div>
                    </div>
                    <h3>User Name</h3>
                    <div class="bg" style="background-image: url(../../../assets/img/reactjs.jpg);">
                        <span></span>
                    </div>
                </div>
                <div class="cover">
                    <div class="pro">
                        <div class="globalRoundProfile" style="background-image: url(../../../assets/img/img3.jpg);"></div>
                    </div>
                    <h3>User Name</h3>
                    <div class="bg" style="background-image: url(../../../assets/img/typescript.jpg);">
                        <span></span>
                    </div>
                </div>
                <div class="cover">
                    <div class="pro">
                        <div class="globalRoundProfile" style="background-image: url(../../../assets/img/img7.jpg);"></div>
                    </div>
                    <h3>User Name</h3>
                    <div class="bg" style="background-image: url(../../../assets/img/html.png);">
                        <span></span>
                    </div>
                </div>
                <div class="cover">
                    <div class="pro">
                        <div class="globalRoundProfile" style="background-image: url(../../../assets/img/img5.jpg);"></div>
                    </div>
                    <h3>User Name</h3>
                    <div class="bg" style="background-image: url(../../../assets/img/nodejs.jpg);">
                        <span></span>
                    </div>
                    
                </div>
            </div>
        <!--barre de recherche-->
            <div class="createPost col-lg-12" style="margin-top: 150px;">
                <div class="input">
                    <div class="globalRoundProfile" style="background-image: url(../../../assets/img/img3.jpg);">
                        <span></span>
                    </div>
                    <div class="post"  >
                        <form class="d-flex" >
                            <input class="form-control me-2" type="search" placeholder="Are you looking for a job ?" aria-label="Search" style="
                            border-top-left-radius: 20px; border-bottom-left-radius: 20px;">
                             <button type="submit" class="btn btn-info btn-fill pull-right " style=" color:#fff; font-weight: bold; padding-left: 10px;
                             padding-right: 10px; background-color: #261d51;  border-top-right-radius: 20px;
                             border-bottom-right-radius: 20px;" ><i class="bi bi-search"></i></button>
                          </form>
                    </div>
                </div>
        <div style="padding-top: 50px;">
            <hr>
        </div>
             
        </div>       
     




       
    </div>
    
    </div>


    <!--carrousel-->
    
    <div class="card " style=" align-items: center;
    align-self: center; display: flex; background-color:aliceblue ; border: none; padding-top: 200px; margin:auto;">
   <h1 class="text-center" >All Courses</h1>
   <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows" 
   [showNavigationIndicators]="showNavigationIndicators"  >
   
     <ng-template ngbSlide *ngFor="let slide of course" style="padding: auto;">
       
       <div class="container" style="align-items: center; align-self: center;">
         
     
         <div class="row mt-5 m-auto" >
             <div class="col-lg-3 mb-5 " *ngFor="let cs of slide">
                 <div class="box shadow-sm mr-4 ml-4" style="background-color: #fff;">
                     <img srcset="{{cs.image}}" width="100%">
                     <h4 class="mt-2">{{cs.name}}</h4>
                     <p clas="mt-2">{{cs.description}}</p>
                     <button class="btn btn-dark btn-sm mt-2" routerLink="{{cs.linkpage}}">Enroll now</button>
                 </div>
     
             </div>
         </div>
     
     </div>
     </ng-template>
     
   </ngb-carousel>
   
   
   <hr>
   </div>
   <div class="card " style=" align-items: center;
   align-self: center; display: flex; background-color:aliceblue ; border: none;  margin:auto;">
  
  <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows" 
  [showNavigationIndicators]="showNavigationIndicators"  >
  
    <ng-template ngbSlide *ngFor="let slide of course" style="padding: auto;">
      
      <div class="container" style="align-items: center; align-self: center;">
        
    
        <div class="row mt-5 m-auto" >
            <div class="col-lg-3 mb-5 " *ngFor="let cs of slide">
                <div class="box shadow-sm mr-4 ml-4" style="background-color: #fff;">
                    <img srcset="{{cs.image}}" width="100%">
                    <h4 class="mt-2">{{cs.name}}</h4>
                    <p clas="mt-2">{{cs.description}}</p>
                    <button class="btn btn-dark btn-sm mt-2" routerLink="{{cs.linkpage}}">Enroll now</button>
                </div>
    
            </div>
        </div>
    
    </div>
    </ng-template>
    
  </ngb-carousel>
  
  
  <hr>
  </div>




    </div>
    </div>
  
  </mat-drawer-container>