/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

@import '@angular/material/prebuilt-themes/indigo-pink.css';

:root
{
    --primary-color:#261d51;
    --secondary-color:#162328;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
position:relative; height: fit-content;
 }
